.Layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 200px;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-areas:
    "card pizza"
    "card pizza";
}