.Card {
  display: inline-block;
  background-color: white;
  padding: 1rem;
  
}

.Card__header {
  background-color: blue;
  border-radius: 2rem;
  text-align: center;
  padding: .5rem 0;
}

.Card__header--active {
  background-color: brown;
}

.Card__title {
  margin: 0;
  color: white;
}

.Card__body {
  min-height: 10rem;
  max-height: 10rem;
  margin-top: 1rem;
  overflow-y: auto;
}

.Card__body-item {
  margin-top: 0;
  margin-bottom: .25rem;
  display: flex;
  justify-content: space-between;
}