.ButtonGroup {
  margin: 1rem 0;
}

.ButtonGroup__title {
  margin: 0 0 .25rem 0;
  font-size: 1rem;
  color: white;
}

.ButtonGroup__list {
  border: 1px solid white;
  padding: 1rem;
  display: flex;
}